---
import { Button } from '../components/Button/Button';
import { Checkbox } from '../components/Checkbox/Checkbox';
import { Icon } from '../components/Icon/Icon';
import { Input } from '../components/Input/Input';
import { Select } from '../components/Select/Select';
import { AntdSwitch } from '../components/Switch/Switch';
import { Link, Text, Title } from '../components/Typography/Typography';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Welcome to Astro.">
	<main>

		<div class="flex flex-col gap-2">
			<h1 class="font-bold mr-auto">
				Switch
			</h1>

			<AntdSwitch client:load />
			<AntdSwitch client:load label="Label" />


			<h1 class="font-bold mr-auto">
				Typography
			</h1>

			<Title>h1. Ant Design</Title>
			<Title level={2}>h2. Ant Design</Title>
    <Title level={3}>h3. Ant Design</Title>
    <Title level={4}>h4. Ant Design</Title>
    <Title level={5}>h5. Ant Design</Title>
		<Text>Ant Design (default)</Text>
    <Text mark>Ant Design (mark)</Text>
    <Text underline>Ant Design (underline)</Text>
    <Text delete>Ant Design (delete)</Text>
    <Text strong>Ant Design (strong)</Text>
    <Text italic>Ant Design (italic)</Text>

    <Link href="https://ant.design" target="_blank">
      Ant Design (Link)
    </Link>
    <Input className="custom-input" placeholder="Enter text here" />
    <Select
      defaultValue="lucy"
			onChange={() => console.log('elo')}
      options={[
        { value: 'jack', label: 'Jack' },
        { value: 'lucy', label: 'Lucy' },
        { value: 'Yiminghe', label: 'yiminghe' },
        { value: 'disabled', label: 'Disabled', disabled: true },
      ]}
    />
    <Checkbox className="custom-checkbox">Checkbox</Checkbox>
		<p></p>
    <Button className="custom-button" type="primary">Submit</Button>
    <Icon className="custom-icon" icon="check" />
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
