---
import { Button, HuiButton } from "../components/Button/Button";
import { Checkbox, HuiCheckbox } from "../components/Checkbox/Checkbox";
import { Icon } from "../components/Icon/Icon";
import { AntDesignInput, HeadlessUiInput } from "../components/Input/Input";
import { Select, HuiSelect } from "../components/Select/Select";
import { AntDesignSwitch, HeadlessUiSwitch } from "../components/Switch/Switch";
import {
  Link,
  Text,
  Title,
  HuiTypographyComponent,
} from "../components/Typography/Typography";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="grid grid-cols-2 gap-4">
    {/* Ant Design Section */}
    <div class="flex flex-col gap-2 border-2 p-2">
      <h1 class="text-center">Ant Design</h1>

      {/* Ant Design Switches */}
      <h2 class="mr-auto font-bold">Switch</h2>
      <AntDesignSwitch client:load />
      <AntDesignSwitch client:load label="Label" />

      {/* Ant Design Typography */}
      <h2 class="mr-auto font-bold">Typography</h2>
      <Title>h1. Ant Design</Title>
      <Title level={2}>h2. Ant Design</Title>
      <Title level={3}>h3. Ant Design</Title>
      <Text>Ant Design (default)</Text>
      <Text mark>Ant Design (mark)</Text>
      <Text underline>Ant Design (underline)</Text>
      <Text delete>Ant Design (delete)</Text>
      <Text strong>Ant Design (strong)</Text>
      <Text italic>Ant Design (italic)</Text>
      <Link href="https://ant.design" target="_blank">Ant Design (Link)</Link>

      {/* Ant Design Input */}
      <h2 class="mr-auto font-bold">Input</h2>
      <AntDesignInput className="custom-input" placeholder="Enter text here" />

      {/* Ant Design Select */}
      <h2 class="mr-auto font-bold">Select</h2>
      <Select
        defaultValue="lucy"
        onChange={() => console.log("elo")}
        options={[
          { key: 1, value: "jack", label: "Jack" },
          { key: 2, value: "lucy", label: "Lucy" },
          { key: 3, value: "Yiminghe", label: "yiminghe" },
          { key: 4, value: "disabled", label: "Disabled", disabled: true },
        ]}
      />

      {/* Ant Design Checkbox */}
      <h2 class="mr-auto font-bold">Checkbox</h2>
      <Checkbox>Checkbox</Checkbox>

      {/* Ant Design Button */}
      <h2 class="mr-auto font-bold">Button</h2>
      <Button>Submit</Button>
      <Icon className="custom-icon" icon="check" />
    </div>

    {/* Headless UI Section */}
    <div class="flex flex-col gap-2 border-2 p-2">
      <h1 class="text-center">Headless UI</h1>

      {/* Headless UI Switches */}
      <h2 class="mr-auto font-bold">Switch</h2>
      <HeadlessUiSwitch client:load />
      <HeadlessUiSwitch client:load label="Label" />

      {/* Headless UI Typography */}
      <h2 class="mr-auto font-bold">Typography</h2>
      <HuiTypographyComponent />

      {/* Headless UI Input */}
      <h2 class="mr-auto font-bold">Input</h2>
      <HeadlessUiInput />

      {/* Headless UI Select */}
      <h2 class="mr-auto font-bold">Select</h2>
      <HuiSelect />

      {/* Headless UI Checkbox */}
      <h2 class="mr-auto font-bold">Checkbox</h2>
      <HuiCheckbox />

      {/* Headless UI Button */}
      <h2 class="mr-auto font-bold">Button</h2>
      <HuiButton>elo</HuiButton>
    </div>
    {/* Chakra UI Section */}
    <div class="flex flex-col gap-2 border-2 p-2">
      <h1 class="text-center">Chakra UI</h1>
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }
</style>
