---
import Layout from '../layouts/Layout.astro';
import ANTD from '../components/antd.component.astro';
import HUI from '../components/hui.component.astro';
import Daisy from '../components/daisy.component.astro';
import Chakra from '../components/chakra.component.astro';
import Radix from '../components/radix.component.astro';
import Aria from '../components/aria.component.astro';
---

<Layout>
  <main class="grid grid-cols-3">
    <div><HUI /></div>
    <div><Daisy /></div>
    <div><ANTD /></div>
    <div><Chakra /></div>
    <div><Radix /></div>
    <div><Aria /></div>
  </main>
</Layout>
