---
import Layout from '../layouts/Layout.astro';
import ANTD from '../components/antd.component.astro';
import HUI from '../components/hui.component.astro';
import Daisy from '../components/daisy.component.astro';
---

<Layout>
  <main class="grid grid-cols-3">
    <div><HUI /></div>
    <div><Daisy /></div>
    <div><ANTD /></div>
  </main>
</Layout>
